[submodule "Deps/LNPopupController"]
	path = Deps/LNPopupController
	url = https://github.com/Sileo/LNPopupController
[submodule "Deps/DFContinuousForceTouchGestureRecognizer"]
	path = Deps/DFContinuousForceTouchGestureRecognizer
	url = https://github.com/foggzilla/DFContinuousForceTouchGestureRecognizer
[submodule "Sileo/UI/PackageViewController/HTMLDepictionScraper/RepoScraper"]
	path = Sileo/UI/PackageViewController/HTMLDepictionScraper/RepoScraper
	url = https://github.com/Sileo/RepoScraper
