<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>$(PRODUCT_NAME) Deb Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.deb-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlueLemonade</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueLemonade</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Chimera</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chimera</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>CoolBreeze</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CoolBreeze</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>CottonCandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CottonCandy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>MangoCrazy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MangoCrazy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Midnight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Midnight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Mixture</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Mixture</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Nightly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nightly</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>OG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>OceanicBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OceanicBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Procursus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Procursus</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>StrawberrySunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>StrawberrySunset</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>SugarFree</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SugarFree</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Sus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sus</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Taurine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Taurine</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlueLemonade</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlueLemonade~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Chimera</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chimera~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>CoolBreeze</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CoolBreeze~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>CottonCandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CottonCandy~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>MangoCrazy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MangoCrazy~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Midnight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Midnight~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Mixture</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Mixture~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Nightly</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nightly~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>OG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>OceanicBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OceanicBlue~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Procursus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Procursus~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>StrawberrySunset</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>StrawberrySunset~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>SugarFree</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SugarFree~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Sus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sus~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>Taurine</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Taurine~ipad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sileo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>filza</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Sileo uses Face ID to quickly authenticate purchases.</string>
	<key>SBAppUsesLocalNotifications</key>
	<true/>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>SileoRootDaemon</key>
		<string>identifier "SileoRootDaemon" and anchor apple generic and certificate leaf[subject.CN] = "Apple Development: Charlie While (B2TU49334J)" and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>UpgradeAll</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Upgrade All</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).UpgradeAll</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Refresh</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Refresh</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Refresh</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Source</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).AddSource</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Packages</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Packages</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Packages</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$(PRODUCT_NAME) Deb Package</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>org.debian.deb-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>deb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-debian-package</string>
					<string>application/x-deb</string>
					<string>application/vnd.debian.binary-package</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
