Package: org.coolstar.sileo
Name: Sileo
Version: 2.1
Author: Sileo Team <getsileoapp@gmail.com>
Maintainer: CoolStar <coolstarorganization@gmail.com>
Description: An APT package manager for jailbroken iOS 12 and newer!
Architecture: iphoneos-arm
Pre-Depends: debianutils, dpkg (>= 1.18)
Depends: firmware (>= 12.0), firmware (>= 12.2) | org.swift.libswift (>= 5.0), coreutils (>= 8.32-4), dpkg (>= 1.19.2-4), apt (>= 2.1.10-1), zsh
Conflicts: cydia-gui (<< 99.0)
Section: Packaging
Icon: https://getsileo.app/img/icon.png
SileoDepiction: https://featuredpage.getsileo.app/depiction.json
